@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    background-image: url(image/BG.jpg);
    font-family: 'poppins', sans-serif;
    color: #222;
    }
.navbar {
    padding: .5rem;
    box-shadow: 0px 17px 27px 5px rgba(0,0,0,0.75);
    }
.navbar-brand {
    height: 90px;
    }
.logo1 {
    height: 100%;
    }
.Art3D {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 400px;
    }
.navbar-nav li {
    padding-right: 20px;
    }
.nav-link {
    font-size: 1.1em !important;
    }
.navbar .navbar-nav li a {
    color: white !important;
    }
.navbar .navbar-nav li a:hover {
    color: #14d100 !important;
    transition: transform .5s;
    transform: scale(2);
    }
.display-4 {
    font font-weight: 500;
    }
.opvulling {
    height: 10%;
    }
.center {
    text-align: center;
    }
.gallery {
    margin: 10px 150px;
    }
.gallery img {
    transition: .4s;
    padding: 15px;
    width: 370px;
    }
.gallery img:hover {
    filter: drop-shadow(10px 10px 3px #4e4e4e);
    transform: scale(1.1);
    }
.padding {
    padding-right: 2rem;
    padding-left: 2rem;
    }
.social a {
    font-size: 3.5em;
    padding: 3rem;
    }
.fa-facebook {
    color: darkgray;
    }
.fa-instagram {
    color: darkgray;
    }
.fa-facebook:hover,
.fa-instagram:hover {
    color: #d5d5d5;
    }
footer {
    background-color: #000000;
    color: #d5d5d5;
    padding-top: 2rem;
    }
.welcome hr {
    border-top: 2px solid #747474;
    width: 62%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    }
footer a {
    color: #d5d5d5
    }
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    }
.onderstediv {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px
    }
/*---Media Queries --*/

@media (max-width: 1440px) {
    .gallery {
    margin: 10px 80px;
    }
}

@media (max-width: 992px) {
    .social a {
        font-size: 3em;
        padding: 2rem;
    }
        .gallery img {
        width: 280px;
    }
}

@media (max-width: 768px) {
    .opvulling {
        height:  50px;
    }
    .Art3D {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 300px;
    }
    .navbar .navbar-nav li a:hover {
    color: #14d100 !important;
    transform: scale(1);
    }
    .gallery img {
        width: 280px;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
    .logo1 {
        height: 80%;
        margin-top: 10px;
        margin-left: 10px;
    }
    .footerlogo {
    height: 80px
    }
    .gallery {
    margin: 10px 0px;
    }
}

@media (max-width: 600px) {
    .gallery img {
        width: 200px;
        padding: 10px;
    }
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-indicators {
        display: none;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
    .footerlogo {
    height: 70px
    }
    .gallery {
    margin: 10px 10px;
    }
.Art3D {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 250px;
    }
}

@media (max-width: 450px) {
    .gallery img {
        width: 300px;
        padding: 5px;
    }
    .gallery {
    margin: 10px 10px;
    }
}