html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.section1{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-height: 600px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.maintitle{
    position: relative;
    top: -93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 650px;
    height: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.main{
    font-family: 'Bungee', cursive;
    color: #fff;
    font-size: 55px;
    text-align: center;
    line-height: .8;
}

.secondary{
    font-family: 'Ubuntu', sans-serif;
    color: #ff2153;
    font-size: 33px;
    font-weight: 400;
    text-align: center;
    
}

.plx1{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG1.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.plx2{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG2.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.plx3{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG3.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.plx4{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG4.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.plx5{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG5.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.plxtitle{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    
}

.plx6{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG6.svg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.section2{
    position: relative;
    height: 100vh;
    min-height: 800px;
    background: rgb(1,19,41);
    background: linear-gradient(0deg, rgba(1,19,41,1) 0%, rgba(2,28,61,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.square{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10%;
    top: 10%;
}

.square img{
    position: absolute;
    width: 20%;
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -0.5s);
          animation-delay: calc(var(--scroll) * -0.5s);
}

.triangle{
    position: absolute;
    width: 27%;
    height: 100%;
    left: 73%;
    top: 80%;
}

.triangle img{
    position: absolute;
    width: 120%;
    -webkit-animation: rotate 1s linear infinite;
            animation: rotate 1s linear infinite;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -2s);
          animation-delay: calc(var(--scroll) * -2s);
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.holder{
    padding: 40px 40px 40px;
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.holder img {
    margin: 0px 50px 0 0;
    width: 400px;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-shadow: 0px 0px 45px 10px rgba(255,33,83,0.3); 
    box-shadow: 0px 0px 45px 10px rgba(255,33,83,0.3);
}

.holdertext {
    color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }

.holdertext p{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin: 0;
    font-size: 17px;
}

.about{
    font-family: 'Bungee', cursive;
    font-size: 70px;
    line-height: 1.7;
}

.section3{
    position: relative;
    min-height: 100vh;
    background: rgb(1,13,27);
background: linear-gradient(0deg, rgba(1,13,27,1) 0%, rgba(1,19,41,1) 100%);
}

.title{
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: -40px;
    font-family: 'Bungee', cursive;
    font-size: 70px;
    line-height: 1.7;
}

.gallery{
    position: relative;
    margin: 0 auto;
}

.content img{
    width: 100%;
}

.content{
    width: 400px;
    margin-bottom: 20px;
    line-height: 0;
    transition: all .5s;
}

.content:hover{
    z-index: 1;
    box-shadow: 0px 0px 35px 5px rgba(16,231,226,0.9);
    transform: scale(1.1);
}

.filters{
    padding: 50px 20px;
}

.filters li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #10e7e2;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.filters li.active::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1)
}

.filters li.active {
  color: #10e7e2;
}

.filters ul{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
}

.filters li{
    position: relative;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 300%;
    color: white;
    margin: 0 30px;
}

.gallery a:hover{
    text-shadow: 0px 0px 10px #10E7E2;
}

footer{
    background-color: rgb(1,13,27);
    position: relative;
    height: 100%;
    width: 100vw;
    min-height: 600px;
    bottom: 0%;
    background-image:url(images/Footer2.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    
}

footer p, a{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color: white;
    margin: 0;
}

.projects{
    margin: 0;
    padding-top: 70px;
}

.container{
    display: flex;
    justify-content: center;
    padding-bottom: 30vh;
    margin: 100px auto 0 auto;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 250px;
    height: 300px;
    background-image: url(images/Little-Nightmares.jpg);
    background-size: 200%;
    background-position: center;
    margin: 0 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 45px 10px rgba(255,33,83,.6);
    transition: 1s;
}

.two{
    background-image: url(images/Unravel.jpg);
}

.card:hover{
    background-size: 250%;
}

.card h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 250%;
    color: white;
    margin: 30px 0px 25px 40px;
}

.card p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin: 0 40px 0 40px;
}

.button{
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 60px;
    margin: 0 30px 30px 0;
    border-radius: 20px;
    text-decoration: none;
    transition: all .5s;
    cursor: pointer;
    
}

.button:hover{
    color:#ffffff;
    background-color:rgba(0, 0, 0, 0);
}

.big{
    font-family: 'Bungee', cursive;
    font-size: 140%;
    line-height: 1.3;
}

.small{
    font-family: 'Bungee', cursive;
    font-size: 80%;
    line-height: 1.3;
}

.socials{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    padding-bottom: 120px;
}

.socials a{
    text-decoration: none;
    text-shadow: 0px 0px 20px #ff2153;
    margin: 0 13px;
    font-size: 50px;
}

.sign{
    text-shadow: 0px 0px 10px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 20px 0 20px 0;
    width: 100%;
    bottom: 0;
    font-size: 15px;
}

@media only screen and (max-width: 1200px) {
    .square img{
    width: 30%;
    -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
}
    .maintitle{
        font-size: 70px;
    }
    
    .container{
        flex-direction:column;
        align-items: center;
        margin-top: 20px;
    }
    
    .card{
        margin: 30px;
    }
}

@media only screen and (max-width: 900px) {
    body{
    overflow: hidden;
}
    
    .maintitle{
        width: 80%;
        height: 30vw;
    }

    .main{
        font-size: 7vw;
    }

    .secondary{
        font-size: 4.5vw;
    }
    
    .title{
        font-size: 8vw;
    }
    
    .holder img {
    margin: 0px 30px 0 0;
    width: 35vw;
    }

    .holdertext p{
    font-size: 15px;
    }

    .about{
    font-size: 9vw;
    }
    
    .filters li{
    font-size: 250%;
    }
    
    .filters{
    padding: 40px 20px;
    }
    
    .content{
        width: 250px;
        margin-bottom: 20px;
        line-height: 0;
    }
    
    .container{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .holder{
        flex-direction: column;
        max-width: 500px;
    }
    
    .holder img {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 350px;
    }
    
    .holdertext p{
    font-size: 15px;
        text-align: center;
    }
    
    .about{
    font-size: 60px;
    line-height: 1.3;
    margin: auto;
    display: table;
    }
}

@media only screen and (max-width: 600px) {

    .title{
        font-size: 60px;
    }
    
    .square img{
        position: absolute;
        width: 40%;
        -webkit-animation: rotate 2s linear infinite;
                animation: rotate 2s linear infinite;
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
        -webkit-animation-delay: calc(var(--scroll) * -1s);
                animation-delay: calc(var(--scroll) * -1s);
    }

    .triangle{
        position: absolute;
        width: 27%;
        height: 100%;
        left: 70%;
        top: 80%;
    }   
    
    .triangle img{
        z-index: 1;
        position: absolute;
        width: 200%;
    }
    
    .filters li{
    font-size: 200%;
    }
    
    .filters{
    padding: 30px 20px;
    }
    
    .content{
        width: 150px;
        margin-bottom: 20px;
        line-height: 0;
    }
    
    .container{
        margin-top: 0;
    }
    
    .card{
        margin: 40px 30px;
        height: 100%;
    }
    
    .card h1{
        font-size: 180%;
        margin: 30px 0px 20px 30px;
    }
    
    .card p{
        margin: 0 30px;
        font-size: 15px;
    }
    
    .button{
        position: static;
        align-self: flex-end;
        margin: 10px 30px 30px 10px;
        width: 130px;
        height: 50px;
    }
    
    .big{
        font-size: 110%;
    }
    
    .small{
        font-size: 70%;
    }
    
    .socials{
        padding-bottom: 14vh;
    }
    .sign{
        font-size: 13px;
    }
}

@media only screen and (max-width: 450px) {
    .maintitle{
        border-width: 3px;
    }
    
    .square img{
        position: absolute;
        width: 60%;
        -webkit-animation: rotate 2s linear infinite;
                animation: rotate 2s linear infinite;
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
        -webkit-animation-delay: calc(var(--scroll) * -1s);
                animation-delay: calc(var(--scroll) * -1s);
    }

    .triangle{
        position: absolute;
        width: 27%;
        height: 100%;
        left: 60%;
        top: 80%;
    }   
    
    .triangle img{
        z-index: 1;
        position: absolute;
        width: 300%;
        -webkit-animation: rotate 1s linear infinite;
                animation: rotate 1s linear infinite;
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
        -webkit-animation-delay: calc(var(--scroll) * -2s);
                animation-delay: calc(var(--scroll) * -2s);
    }
    
    .about{
    font-size: 50px;
    }
    
    .title{
        font-size: 50px;
        margin-bottom: -20px;
    }
    
    .holder{
    padding: 30px 30px 30px;
    }
    
    .holder img {
    width: 80vw;
    }

    .holdertext p{
    text-align: center;
    }
    
    .filters li{
    font-size: 150%;
    }
    
    .filters{
    padding: 20px 20px;
    }

    .card h1{
        margin: 20px 0px 20px 20px;
    }
    
    .card p{
        margin: 0 20px;
    }
    
    .button{
        width: 120px;
        height: 50px;
        margin: 10px 20px 20px 10px;
    }
    
    .big{
        font-size: 90%;
    }
    
    .small{
        font-size: 60%;
    }
    
    .container{
        margin-top: 20px;
        padding-bottom: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .content{
        width: 130px;
        margin-bottom: 20px;
        line-height: 0;
    }
    .sign{
        font-size: 12px;
    }
}

@media only screen and (max-height: 500px) {
    .maintitle{
        top: 0px;
    }
}

@media only screen and (min-width: 1900px) {
    footer{
        background-size: 100%;
    }
}