html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}

.section1{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-height: 600px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title{
    position: relative;
    top: -93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: none;
    width: 650px;
    height: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.main{
    font-family: 'Bungee Shade', cursive, sans-serif;
    color: #fff;
    font-size: 55px;
    text-align: center;
}

.secondary{
    position: relative;
    top: -30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ff2153;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    
}

.plx1{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG1.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.plx2{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG2.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.plx3{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG3.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.plx4{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG4.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.plx5{
    height: 100vh;
    min-height: 600px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/TBG5.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.plxtitle{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    
}

.plx6{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image:url(images/header/BG6.png);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.section2{
    position: relative;
    height: 100vh;
    min-height: 600px;
    background: rgb(2,28,61);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(2,28,61,1)), to(rgba(64,26,88,1)));
    background: -o-linear-gradient(top, rgba(2,28,61,1) 0%, rgba(64,26,88,1) 100%);
    background: linear-gradient(180deg, rgba(2,28,61,1) 0%, rgba(64,26,88,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.square{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10%;
    top: 10%;
}

.square img{
    position: absolute;
    width: 20%;
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.5s);
}

.triangle{
    position: absolute;
    width: 27%;
    height: 100%;
    left: 73%;
    top: 80%;
}

.triangle img{
    position: absolute;
    width: 120%;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.holder{
    padding: 40px 40px 40px;
    max-width: 900px;
    display: flex;
}
.holder img {
    margin: 0px 50px 0 0;
    width: 400px;
    object-fit: contain;
    align-self: flex-start;
    -webkit-box-shadow: 0px 0px 45px 10px rgba(255,33,83,0.3); 
    box-shadow: 0px 0px 45px 10px rgba(255,33,83,0.3);
}

.holdertext {
    color: white;
    flex: 1 1 auto;
  }

.holdertext p{
    margin: 0;
    font-size: 18px;
}

.holdertext h1{
    font-family: 'Bungee Shade', cursive, sans-serif;
    font-size: 90px;
    margin-top: -20px;
    margin-bottom: -40px;
    
}

.section3{
    position: relative;
    min-height: 100vh;
    background: rgb(2,28,61);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(64,26,88,1)), to(rgba(2,28,61,1)));
    background: -o-linear-gradient(top, rgba(64,26,88,1) 100%) 0%, rgba(2,28,61,1);
    background: linear-gradient(180deg, rgba(64,26,88,1) 0%, rgba(2,28,61,1) 100%);
}

.gallery{
    position: relative;
    margin: 0 auto;
}

.content img{
    width: 100%;
}

.content{
    width: 400px;
    margin-bottom: 20px;
    line-height: 0;
}

.filters{
    padding: 100px 20px;
}

.filters li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ff2153;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

filters li:hover::after {
  transform: scaleX(1);
}

.filters li.active::after {
  transform: scaleX(1)
}

.filters li.active {
  color: #10e7e2;
}

.filters ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.filters li{
    position: relative;
    cursor: pointer;
    font-family: fantasy;
    font-size: 300%;
    color: white;
    margin: 0 30px;
}

.gallery a:hover{
    opacity: 0.5;
}


@media only screen and (max-width: 5000px) {
    body {
        overflow: hidden;
    }
}

@media only screen and (max-width: 1700px) {
    
}


@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 900px) {
    .title{
        width: 80%;
        height: 30vw;
    }

    .main{
        position: static;
        font-size: 8vw;
        margin-top: -5vw;
    }

    .secondary{
        position: static;
        margin-top: -4vw;
        font-size: 4.5vw;
    
    }
    
    .content{
    width: 250px;
    margin-bottom: 20px;
    line-height: 0;
    }
}

@media only screen and (max-width: 600px) {
    .content{
    width: 150px;
    margin-bottom: 20px;
    line-height: 0;
    }
}

@media only screen and (max-width: 400px) {
    .title{
        border-width: 3px;
    }
    
    .content{
    width: 130px;
    margin-bottom: 20px;
    line-height: 0;
    }
}

@media only screen and (max-height: 500px) {
    .title{
        top: 0px;
    }
}
